.container{
    background-color: beige;
    margin: 0;
}
.cv-head{
    background-color: #374458;
    margin: 0;
    display: inline-block;
    width: 100%;
    display: inline-block;
}
.cv-head h1{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}
.cv-head h2{
    color: #4f90cd;
    display: inline-block;
}
.cv-head p{
    color: aliceblue;
    display: inline-block;
}

.cv-img{
    border:  solid 6px #4f90cd;
    margin: 1rem 2rem;
    float: right;
    border-radius: 50%;
    height: 10rem;
    width: 9rem;
    display: inline-block;
}